.questions{
    /* border: 5px solid black; */
    background-color: rgb(232, 237, 237);
    border-radius: 20px;
    margin: auto;
    width: 80%;
    min-width: fit-content;

    background-image: url(images/bg/6.png);
    background-size:contain;
    background-repeat: no-repeat;
   background-position-x: right;
}
.addTask{
    margin: auto;
    width: 50%;

 
   
}
.input{
    display: flex;
    justify-content: center;
}


textarea{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgb(228, 205, 205);
    font-size: 16px;
    resize: none;

}

.analysis{
    text-align: center;
    background-color: rgb(15, 115, 42) !important;
    padding: 10px 40px !important;
    border-radius: 20px;
    color: white !important;
    font-weight: bold;
}
.analysis:hover{
    background-color: rgb(197, 244, 127) !important;
    color: black !important;
}