.bg{
    background-color: #ffffff;
    border-radius: 30px;
}
.contact-box{
    background-color: rgba(255, 255, 255, 0.866);
    border-radius: 20px;

}
form{
    padding: 10px;
    margin: 40px;
    border-radius: 20px;
    box-shadow: rgba(203, 162, 162, 0.35) 15px 15px 25px;
    background-color: rgba(239, 239, 191, 0.1);
}
form:hover{
    box-shadow: none;
    background-color:rgba(229, 255, 216, 0.903);

}
.login{
    text-align: center;
    background-color: greenyellow !important;
    padding: 10px 40px !important;
    border-radius: 20px;
}
.login:hover{
    background-color: rgb(121, 150, 78) !important;
}
